/*
                                                  
,------.                              ,--.        
|  .--. ' ,---.  ,---.  ,--,--.,--.--.`--' ,---.  
|  '--'.'| .-. |(  .-' ' ,-.  ||  .--',--.| .-. | 
|  |\  \ ' '-' '.-'  `)\ '-'  ||  |   |  |' '-' ' 
`--' '--' `---' `----'  `--`--'`--'   `--' `---'                                          
hehehehheheheheehheheheeheheheheheheheheheheheheh
*/

/*---------------HEADER------------------*/
.header {
    position: relative;
    margin: 0;
    padding: 0;
}

.header-image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 16em;
    width: 100%;
    height: auto;
    opacity: 0.75; /* Use decimal opacity value */
    z-index: -2;
    margin: 0;
    padding: 0;
}

.titleimage {
    width: 98%;
    height: auto;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    transform: translateX(40px);
}

/*---------------BODY------------------*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
}

body {
    background-color: #720505; 
    background-image: url('images01/backflower.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed;
}

.section1 {
    columns: 2;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: justify;
}

/*---------BUTTON------------------*/
.turkanbutton,.turkanbutton-link {
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 131px;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    transform: translateX(+12px);
}
.turkanbutton:hover {
    filter: brightness(1.1);
    cursor: pointer;
}
