/*
                                                  
,------.                              ,--.        
|  .--. ' ,---.  ,---.  ,--,--.,--.--.`--' ,---.  
|  '--'.'| .-. |(  .-' ' ,-.  ||  .--',--.| .-. | 
|  |\  \ ' '-' '.-'  `)\ '-'  ||  |   |  |' '-' ' 
`--' '--' `---' `----'  `--`--'`--'   `--' `---'                                          
*/

/*---------------HEADER------------------*/
.header {
    position: relative;
    margin: 0;
    padding: 0;
}

.header-image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 16em;
    width: 100%;
    height: auto;
    opacity: 0.75; /* Use decimal opacity value */
    z-index: -2;
    margin: 0;
    padding: 0;
}

.titleimage {
    width: 98%;
    height: auto;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    transform: translateX(40px);
}

/*---------------BODY------------------*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
}

body {
    background-color: #720505; 
    background-image: url('images01/backflower.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed;
}

.section1 {
    columns: 2;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: justify;
}
/*---------MUSIC------------------*/
.disc-container {
  position: fixed; 
  bottom: 20px;   
  right: 20px;    
  z-index: 999;    
  display: inline-block;
  cursor: pointer;
}


.discimage {
  width: 150px;         
  height: 150px;         
  border-radius: 50%;   
  

  transform-origin: center center; 
  display: block;
  
  animation: rotateDisc 3s linear infinite;
}


@keyframes rotateDisc {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

/* press to download */
.tooltip {
  visibility: hidden;
  background-color: rgba(81, 8, 8, 0.8);
  color: #fff3a5;
  text-align: center;
  padding: 8px 12px;
  border-radius: 8px;
  position: absolute;
  bottom: 110%; 
  right: 0;
  opacity: 70%;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(10px); 
  white-space: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.disc-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); 
}

/*---------BUTTON------------------*/
.turkanbutton,.turkanbutton-link {
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 131px;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    transform: translateX(+12px);
}
.turkanbutton:hover {
    filter: brightness(1.1);
    cursor: pointer;
}
