.header {
    font-family: 'Meie Script', cursive;
    font-size: 36px;
    text-align: center;
    color: #ffcda7;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    text-shadow: 4px 4px 6px rgba(19, 6, 6, 0.5);
}
