.home   {
    font-size: 16px;
    background-color: rgb(98, 28, 28);
    background-image: url('flower blue.png');
    background-size: 10px 10px;
    background-position: center;
    background-repeat: repeat-x
}
body  {
    font-family: 'Times New Roman', normal;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}
.header {
    font-family: 'Mr De Haviland', cursive;
    font-size: 90px;
    text-align: center;
    color: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(171, 8, 8);
}