.header {
    font-family: 'Mr De Haviland', cursive;
    font-size: 10px;
}
body    {
    font-size: 9px;
    background-color: rgb(98, 122, 49);
    color: white;
    margin: 10px;
    border: 1px solid rgb(184, 147, 68);
    border-radius: 5px;
    padding: 10px;
}


